<!DOCTYPE html>
<html>
<!--
  Turn Table Server.
-->
<head>
  <meta charset="utf-8">
  <title>Turn Table Server</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid Sans">
  <link rel="stylesheet" type="text/css" href="/Style/Style.css">
</head>
<body onload="start()">
  <h1>Turn Table Server</h1>
  <div id="Login">
  	<p>Enter Your ID:</p>
	<form name="idform" action="javascript:void(0);" onsubmit="return onLoggedIn();">
	<input type="text" id="iduser" name="iduser" value="1:644850560"/>
	<input type="submit" id="idsubmit" name="idsubmit" value="Login!"/>
	</form>
  </div>
  <div id="Users">
  	<p>List of Users</p>
	No Users Found.
  </div>
  <script>
    var module = false;
  </script>
  <script src="/Scripts/WebSocketClient.js" type="text/javascript" charset="utf-8"></script>
  <script src="/Scripts/List.js" type="text/javascript" charset="utf-8"></script>
  <script src="/Scripts/CRC32.js" type="text/javascript" charset="utf-8"></script>
  <script src="/Scripts/Shard.js" type="text/javascript" charset="utf-8"></script>
  <script>
    var userId = null;
    var client = null;
    var onlineFriends = {};
    var offlineFriends = {};
    var busyFriends = {};
    var gameId = "CStrike";
    var gclient = null;
    var gameMsgInterval = -1;

    function start() {
	loginUser();
    }

    function loginUser() {
	var div;
        userId = null;
        div = document.getElementById("Login");
	if(div)
		div.style.visibility = "visible";
        div = document.getElementById("Users");
	if(div)
		div.style.visibility = "hidden";
    }

    function logoutUser() {
        userId = null;
	try {
		if(client != null && client.close) {
			client.close();
		}
	} catch(e) {
	}
	client = null;
	gameId = null;
	try {
		if(gclient != null && gclient.close) {
			gclient.close();
		}
	} catch(e) {
	}
	gclient = null;
	if(gameMsgInterval > 0) clearInterval(gameMsgInterval);
	loginUser();
    }

    function getFriends(userId) {
	if(userId == "1:644850560") {
		return [ "1:123", "1:345" ];
	}
	if(userId == "1:123") {
		return [ "1:345", "1:644850560"];
	}
	if(userId == "1:345") {
		return [ "1:123", "1:644850560"];
	}
	return [];
    }

    function onConnected() {
        div = document.getElementById("Login");
	if(div)
		div.style.visibility = "hidden";
        div = document.getElementById("Users");
	if(div)
		div.style.visibility = "visible";
	client.handleWebSocketSend({command: "idme", data: userId});
	client.registerCallback("userchange", onUsers);
	client.handleWebSocketSend({command: "subscribe", data: getFriends(userId)});
	gameStart();
    }
   
    function gameStart() {
	var gameServer = getServer(gameId, GameServers);
	gclient = new WebSocketClient();
	gclient.registerCallback("idyou", onId);
	gclient.registerCallback("Open", onGameStart);
	gclient.registerCallback("game", onGame);
	gclient.registerCallback("Close", onDisconnected);
	gclient.connect(gameServer);
    }
  
    function onGameStart() {
	if(gclient == null)
		return;
	gclient.handleWebSocketSend({command: "joingame", data: { channel: gameId, self: userId, invite: getFriends(userId) }});
	gameMsgInterval = setInterval(function(){sendGame();},1000);
    }

    function sendGame() {
	gclient.handleWebSocketSend({command: "game", data: {channel: gameId, actions:[{user: userId, move:"test"}]}});
    } 
 
    function onDisconnected() {
	logoutUser();
    }

    function onUsers(data) {
        div = document.getElementById("Users");
	if(div) {
		var users;
		if(!data)
			return;
		for(userid in data) {
			if(data.hasOwnProperty(userid)) {
				var status = data[userid];
				delete onlineFriends[userid];
				delete offlineFriends[userid];
				delete busyFriends[userid];
				console.log("User Change: "+userid+" is "+status);
				if(status == "offline")
					offlineFriends[userid] = userid;
				else if(status == "busy")
					busyFriends[userid] = userid;
				else
					onlineFriends[userid] = userid;
			}
		}
		offlineusers=null;
		for(friend in offlineFriends) {
			if(!offlineusers)
				offlineusers = "Offline: ";
			else
				offlineusers += ",";
			offlineusers += "<b>"+friend+"</b>";
		}
		onlineusers=null;
		for(friend in onlineFriends) {
			if(!onlineusers)
				onlineusers = "Online: ";
			else
				onlineusers += ",";
			onlineusers += "<b>"+friend+"</b>";
		}
		busyusers=null;
		for(friend in busyFriends) {
			if(!busyusers)
				busyusers = "Busy: ";
			else
				busyusers += ",";
			busyusers += "<b>"+friend+"</b>";
		}

		usersmsg = "";
		if(offlineusers) {
			usersmsg += offlineusers+"<br/>";
		}
		if(onlineusers) {
			usersmsg += onlineusers+"<br/>";
		}
		if(busyusers) {
			usersmsg += busyusers+"<br/>";
		}
		div.innerHTML = usersmsg;
	}
    }
 
    function onId(data) {
	console.log("Got an Identification Request.");	
    }

    function onInvite(data) {
	console.log("Got Invited to a Game: %o", data);	
    }

    function onGame(data) {
	console.log("Game Data: %o", data);	
    }

    function onLoggedIn() {
	userIdInput = document.getElementById("iduser");
	if(!userIdInput)
		return;
	userId = userIdInput.value;
	connectServer();
    }

    function connectServer() {
    	var userServer = getServer(userId, UserServers);
    	client = new WebSocketClient();
	client.registerCallback("idyou", onId);
	client.registerCallback("Open", onConnected);
	client.registerCallback("Close", onDisconnected);
	client.registerCallback("invite", onInvite);
    	client.connect(userServer);
    }
  </script>
</body>
</html>
