<!DOCTYPE html>
<html>
<!--
  Turn Table Server.
-->
<head>
  <meta charset="utf-8">
  <title>Turn Table Server</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid Sans">
  <link rel="stylesheet" type="text/css" href="/Style/Style.css">
</head>
<body onload="loginUser()">
  <h1>Turn Table Server</h1>
  <div id="Login">
  	<p>Enter Your ID:</p>
	<form name="idform" action="javascript:void(0);" onsubmit="return onLoggedIn();">
	<input type="text" id="iduser" name="iduser" value="1:644850560"/>
	<input type="submit" id="idsubmit" name="idsubmit" value="Login!"/>
	</form>
  </div>
  <div id="Users">
  	<p>List of Users</p>
	No Users Found.
  </div>
  <div id="Games">
  	<p>List of Games</p>
	No Games Found.
  </div>
  <script src="/Scripts/WebSocketClient.js" type="text/javascript" charset="utf-8"></script>
  <script src="/Scripts/List.js" type="text/javascript" charset="utf-8"></script>
  <script src="/Scripts/Shard.js" type="text/javascript" charset="utf-8"></script>
  <script>
    var userId = null;
    var client = null;

    function loginUser() {
	var div;
        userId = null;
        div = document.getElementById("Login");
	if(div)
		div.style.visibility = "visible";
        div = document.getElementById("Users");
	if(div)
		div.style.visibility = "hidden";
        div = document.getElementById("Games");
	if(div)
		div.style.visibility = "hidden";
    }

    function logoutUser() {
        userId = null;
	loginUser();
    }

    function onConnected() {
        div = document.getElementById("Login");
	if(div)
		div.style.visibility = "hidden";
        div = document.getElementById("Users");
	if(div)
		div.style.visibility = "visible";
        div = document.getElementById("Games");
	if(div)
		div.style.visibility = "visible";
	client.handleWebSocketSend({command: "idme", data: userId});
    }
 
    function onDisconnected() {
	logoutUser();
    }

    function onLoggedIn() {
	userIdInput = document.getElementById("iduser");
	if(!userIdInput)
		return;
	userId = userIdInput.value;
	connectServer();
    }

    function connectServer() {
    	var userServer = getServer(userId, UserServers);
    	client = new WebSocketClient();
	client.registerCallback("Open", onConnected);
	client.registerCallback("Close", onDisconnected);
    	client.connect(userServer);
    }
  </script>
</body>
</html>
